In [1]:
from functions import *
from pandas_datareader.data import DataReader
from dateutil.relativedelta import relativedelta
import numpy as np

# Screener

In [2]:
#https://www.nasdaq.com/market-activity/stocks/screener?exchange=AMEX

import pandas as pd 
import os
try:
    df_nasdaq = pd.read_csv('../../data/NASDAQ.csv')
    df_nyse = pd.read_csv('../../data/NYSE.csv')

    df_concat = pd.concat([df_nasdaq,df_nyse])[["Symbol","Name","Market Cap"]].sort_values(by=["Market Cap"],ascending=False).dropna()
    df_concat['Market Cap'] = df_concat['Market Cap']/1000000000
    df_concat = df_concat[df_concat['Market Cap']>10]
    df_concat = df_concat[1:10]
    df_concat.to_pickle("../../data/symbols.pkl")
except E as Exception:
    print(E)

In [61]:
def subtract_x_months(timestamp,m):
    import datetime
    return( timestamp + relativedelta(months=-m) )

In [62]:
item = df_concat.iloc[0]['Symbol']
df_data = DataReader(item,  "yahoo", datetime(1900,1,1), datetime.now())
df_data.index.name = 'ds'
df_data.reset_index(inplace=True)
df_data = df_data.dropna()
df_data = df_data.rename(columns={'Close' : 'y'})
df_data = df_data[df_data['ds'] >= subtract_x_months( datetime.today(), 60 )]
df_data
#df_data[df_data]

,ds,High,Low,Open,y,Volume,Adj Close
7619,2016-06-02,52.740002,51.840000,52.639999,52.480000,22840800.0,48.347626
7620,2016-06-03,52.419998,51.599998,52.380001,51.790001,23368300.0,47.711952
7621,2016-06-06,52.349998,51.889999,51.990002,52.130001,18243300.0,48.025192
7622,2016-06-07,52.730000,52.099998,52.240002,52.099998,20866800.0,47.997551
7623,2016-06-08,52.439999,51.869999,52.020000,52.040001,21149400.0,47.942272
...,...,...,...,...,...,...,...
8871,2021-05-24,251.160004,247.509995,247.789993,250.779999,21411500.0,250.779999
8872,2021-05-25,252.750000,250.820007,251.770004,251.720001,17704300.0,251.720001
8873,2021-05-26,252.940002,250.750000,251.429993,251.490005,17771600.0,251.490005
8874,2021-05-27,251.479996,249.250000,251.169998,249.309998,24426200.0,249.309998
8875,2021-05-28,252.080002,249.559998,251.000000,249.679993,18270200.0,249.679993

In [ ]:
numpy.polyfit(x, numpy.log(y), 1)

## Exponential Growth

### 5 Years

In [31]:
collect_tune_and_predict('MSFT')

TypeError: collect_tune_and_predict() missing 2 required positional arguments: 'fred' and 'n_ahead'